<form enctype="multipart/form-data" action="/admin/edit?id={{ user.user_id }}" method="post">
    Имя:<br>
    <input name="name" value="{{ user.name }}" type="text"/><br>
    Email:<br>
    <input name="email" value="{{ user.email }}" type="text"/><br>
    Роль:<br>
    <select name="role">
        <option {{ user.role == 'user' ? 'selected' }} value="user">User</option>
        <option {{ user.role == 'admin' ? 'selected' }} value="admin">Admin</option>
    </select><br>
    Пароль:<br>
    <input type="password" name="password"> <br>
    Повторите пароль:<br>
    <input type="password" name="password_repeat"> <br>
    Аватар:<br>
    <input name="image" value="{{ user.avatar }}" type="file"/><br>
    <img src="/admin/image?image={{ user.avatar }}" /><br><br>

    <input type="submit" value="Send">
</form>

{% if error %}
    <span style="color: red">{{ error }}</span>
{% endif %}
